@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 4rem auto;
    
}
h1 , h2 , h3{
    font-family: 'Anton', sans-serif;
}

/* header part style  */
.travel-nav{
    width: 100%;
    margin-top: 40px;
}
.nav-item{
    display: flex;
    justify-content: space-between;
}
.nav-link ul li{
    display: inline-block;
    margin-right: 4rem;
}
ul li a{
    text-decoration:none;
    font-size: 1.2rem;
}

/* top header styles  */
.navbar{
    display: flex;
    align-items: center;
    height: 100%;
}
.block-1 h4{
    font-size: 1.8rem;
    color:#DF6951
}
.block-1 h1{
    font-size:4.5rem;
}
.block-1 p{
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.block-1 a{
    background-color: #F1A501;
    text-decoration: none;
    padding: 10px;
    border-radius:5px;
}

.sector-2{
    text-align: center;
}

.block-3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

.block-item{
   width: 150px;
    margin-right: 75px;
}
.block-item img{
    height: 70px;
    margin-bottom: 1rem;
}
.block-item h4{
    margin-bottom: 15px;
}
/* destinations styles */
.destination{
    text-align: center;
}
.locations{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.location{
    width: 317px;
    height: 450px;
    text-align: center;
    margin-top: 2rem;
}
.location img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.place{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.trip{
    display: inline-block;
    margin-right: 5rem;
}

.transit{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.subscribe{
    text-align: center;
   
}
.subscribe h2{
    font-size: 3rem;
}

.form-item{
    margin-top: 2rem;
}
.form-item input{
    border-radius: 5px;
    padding: 5px;
}

.helpline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.helpline ul li{
    list-style: none;
    font-weight: 400;
}
.subscribe a{
    text-decoration:none;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    padding: 10px;
    border-radius:5px;
    color: aliceblue;
    font-weight: 400;
}


/* responsive for mobile  */
@media only screen and (max-width:568px){
    .container{
        width: 90%;
        margin: auto;
    }
    .image img{
        width: 100%;
    }
    .nav-item{
        display: none;
    }
    .navbar{
        flex-direction: column;
        justify-content: center;
    }
    .sector-2, .destination, .transit, .subscribe, .helpline{
        width: 100%;
    }
}